# macOS
.DS_Store

# Android / IntelliJ / Gradle
*.iml
.gradle/
.idea/
local.properties

# Build outputs
/build/
**/build/
captures/
.externalNativeBuild/
.cxx/

# APK / Bundles
*.apk
*.aab

# Kotlin / Java compiled files
*.class

# Logs
*.log

# Keystores
*.jks
*.keystore

# Large AI model files
app/src/main/assets/*.litertlm
app/src/main/assets/*.tflite
app/src/main/assets/*.bin

# Native / temporary
*.so
*.tmp
*.temp

# OS generated
Thumbs.db